gradio
opencv-python
python-dotenv
speechrecognition
pydub
langgraph
wikipedia
elevenlabs
fastapi
uvicorn
requests
groq
gtts
pygame
google-generativeai
langchain>=0.2.32,<0.3.0
langchain-core>=0.2.32,<0.3.0
langchain-google-genai==1.0.5


